@charset "utf-8";

*{
      margin  : 0;
      padding : 0;
}

body   {
      background-color: #DDDDDD;
      font-size : 95.01%;
      font-family: "Verdana", "Arial", sans-serif;
      color : #494848;
      margin : 0;
      padding : 0;
      text-align : center;
}



table  {
      border: #2c0902 2px solid;
      background-color: #ededed;
      /*float: center;*/
      margin-right: 10px;
}

td     {
      border-top: #2c0902 1px solid;
      height: 30px;
      width: 80px;
}

th     {
      font-family: Verdana;
      font-size: 1em;
      font-weight: bold;
      color: #030311;
}

caption {
      color : #020676;
      font-size : 130%;
      font-weight : bold;
      margin-top : 20%;
      margin-bottom : 20px;
}

h1 {
      color: #020676;
      margin-bottom : 20px;
      font-size : 150%;
}

h2  {
      color : #020676;
      margin-bottom : 10px;
      font-size: 130%;
}

h3  {
      color : #020676;
      margin-bottom : 10px;
      font-size : 120%;
}

p  {
      margin-bottom : 10px;
}


.center {
      background-color : #FFFFFF;
      width : 1000px;
      margin-top : 0;
      margin : auto;
      text-align : left;
      position : relative;
      top : 0;
      z-index : 0;
}

.titel {
      background-color : #000945;
      background-image : url(meins2.jpg);
      padding: 0;
      position : absolute;
      top : 0;
      height : 250px;
      width : 1000px;
      z-index : 1;
}

.navi {
      background-color : #03013C;
      margin-left : 0;
      margin-top : 0;
      margin-right :0;
      margin-bottom : 0;
      height : 40px;
      width : 1000px;
      position : absolute;
      top : 250px;
      left : 0;
      z-index : 5;
}

#navcontainer {
      width : 1000px;
      height : 40px;
}

#navcontainer ul {
      color : #FFFFF;
      float : left;
      width : 1000px;
      font-family : Verdana, Arial, sans-serif;
      font-weight : bold;
      list-style-type : none;
}

#navcontainer ul li {
      display : inline;
}

#navcontainer ul li a {
      display : inline;
      padding : 10px;
      width : 140 px;
      text-align : center;
      background-color : #03013C;
      color: #FFFFFF;
      text-decoration : none;
      font-weight : 500;
      float : left;
}

#navcontainer ul li a:hover {
      background-color : #02108F;
      color : #FFFFFF;
      font-weight : bold;
}

#navcontainer ul li a: active {
      font-weight : bold;
      background-color : #02108F;
}

.inhalt {
      background-color : #FFFFF;
      width : 960px;
      position : absolute;
      top : 290px;
      padding : 20px;
}

.text {
      background-color : #FFFFFF;
      width : 790px;
      float : left;
}

.rechts {
      background-color : #FFFFFF;
      width : 150px;
      float : right;
}


.weiss {
      color : #FFFFFF;
}



.gerade {
         background-color : #FFDDBB;
}



.ungerade {
         background-color : #FFEEDD;
}



.zent {
         text-align : center;
         font-weight : bold;
}



.titelzeile {
         margin-left : 30px;
         margin-top : 110px;
}



#titelzeile a  {
         color : #FFFFFF;
         font-weight : bold;
         text-decoration : none;
}



#titelzeile a:hover  {
         color : #FFFFFF;
         font-weight : bold;
         text-decoration : none;
}



#titelzeile a:active  {
         color : #FFFFFF;
         font-weight : bold;
         text-decoration : none;
}



#titelzeile a:visited  {
         color : #FFFFFF;
         font-weight : bold;
         text-decoration : none;
}


form {
         background-color : #FFDDBB;
         padding : 15px;
         border : 1px dotted #666666;
}



fieldset {
         border : none;
}



label {
         width : 10em;
}



input {
         padding : 10px;
         margin-top : 10px;
         margin-bottom : 10px;
}



.los {
         background-color : #770000;
         color : #FFFFFF;
         width : 10em;
         padding : 4px;
         font-size : 110%;
         text-align : center;
         border : 1px solid #FFFFFF;

}